<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    方式一-->
<!--    注册bean-->
    <bean id="userService" class="com.li.service.UserServiceImpl"/>
    <bean id="log" class="com.li.log.log"/>
    <bean id="afterlog" class="com.li.log.Afterlog"/>

<!--    方式三-->
    <bean id="AnnotataionPointCut" class="com.li.diy.AnnotataionPointCut"/>

<!--   开启注解支持-->
    <aop:aspectj-autoproxy/>

<!--&lt;!&ndash;    配置aop: 需要导入aop的约束&ndash;&gt;-->
<!--    <aop:config>-->
<!--&lt;!&ndash;        切入点   excution(要执行的位置)&ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.li.service.UserServiceImpl.*(..))"/>-->

<!--&lt;!&ndash;        执行环绕&ndash;&gt;-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterlog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

<!--&lt;!&ndash;    方式二： 自定义类&ndash;&gt;-->
<!--    <bean id="diycut" class="com.li.diy.DiyPointCut"/>-->

<!--    <aop:config>-->
<!--&lt;!&ndash;        自定义切面  ref 要引用的类&ndash;&gt;-->
<!--        <aop:aspect ref="diycut">-->
<!--&lt;!&ndash;            切入点&ndash;&gt;-->
<!--            <aop:pointcut id="point" expression="execution(* com.li.service.UserServiceImpl.*(..))"/>-->
<!--&lt;!&ndash;            通知&ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

</beans>