<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.li.pojo.User" name="user2,u1">
        <constructor-arg name="name" value="123"/>
    </bean>
<!--
    id : bean的唯一标识，也就是相当于我们学到的对象名
    class： bean对象所对应的全限定名： 包名 + 类型
    name ： 也是别名，而且name可以同时起多个别名
-->

</beans>